<div class=container> 
  <app-location-add (messageEvent)="receiveMessage($event)"></app-location-add>
  <h1>Weather location for {{locationName}}</h1>
    <div class="row">
      <div class="col-12 col-md-4" *ngFor="let l of locations.slice(0, 5);">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.metaweather.com/static/img/weather/{{l.weather_state_abbr}}.svg" alt="Card image cap" height="100">
            <div class="card-body">
              <h5>{{l.applicable_date | date}}</h5>
                <h5 class="card-title">Max Temperature: {{l.the_temp.toFixed(1)}}&#176;</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{l.weather_state_name}}</h6>
            </div>
        </div>
      </div>
    </div>
  </div>  



        
      



  



